<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="signup-form">
          <form method="post" class="mt-5 p-5 bg-light shadow">

            <h3 class="mb-4 text-secondary">Đăng nhập vào tài khoản của bạn</h3>

            <div class="form-floating mb-3 col-md-12">
              <input type="text" name="username" class="form-control" id="MyAccount" placeholder="name@example.com">
              <label for="MyAccount">Tài khoản<span class="text-danger">*</span></label>
            </div>
            <div class="form-floating col-md-12">
              <input type="password" name="password" class="form-control" id="MyPassword" placeholder="Password">
              <label for="MyPassword">Mật khẩu<span class="text-danger">*</span></label>
            </div>

            <div class="mt-2">
              <!-- Simple link -->
              <a href="#!">Quên mật khẩu?</a>
            </div>

            {{#if error}}
            <div class="error">
              {{error}}
            </div>
            {{/if}}

            {{!-- login button --}}
            <div class="col-md-12 mt-2 mb-4">
              <button type="button" class="btn btn-primary float-end" id="submitLoginInfo" data-bs-toggle="modal"
                data-bs-target="#LogInModal">Đăng nhập</button>
            </div>
            {{!-- modal --}}
            <div class="modal fade" id="LogInModal" aria-labelledby="LogInModalLabel" aria-hidden="true" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Thông báo</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Bạn đã đăng nhập thành công.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <p class="text-center mt-3 text-secondary">Bạn chưa có tài khoản? <a href="/account/register">Đăng ký tại
              đây</a></p>
        </div>
      </div>
    </div>
  </div>
</body>