<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="signup-form">
          <form action="" class="mt-5 p-5 bg-light shadow">

            <h3 class="mb-4 text-secondary">Đăng nhập vào tài khoản của bạn</h3>

            <div class="mb-3 col-md-12">
              <label>Email<span class="text-danger">*</span></label>
              <input type="email" class="form-control" id="MyEmail">
            </div>
            <div class="mb-3 col-md-12">
              <label>Mật khẩu<span class="text-danger">*</span></label>
              <input type="password" class="form-control" id="MyPassword">

            </div>

            <div class="col">
              <!-- Simple link -->
              <a href="#!">Quên mật khẩu?</a>
            </div>

            <div class="col-md-12 mb-4">
              <button class="btn btn-primary float-end" id="submitLoginInfo">Đăng nhập</button>
            </div>
          </form>

          <p class="text-center mt-3 text-secondary">Bạn chưa có tài khoản? <a href="/account/signup">Đăng ký tại đây</a></p>
        </div>
      </div>
    </div>
  </div>
</body>