<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="signup-form">
                    <form method="post" class="mt-5 p-5 bg-light shadow">

                        <h3 class="mb-4 text-secondary">Tạo một tài khoản mới</h3>

                        <div class="form-floating mb-3 col-md-12">
                            <input type="text" name="full-name" class="form-control" id="MyName" placeholder="Thịnh">
                            <label for="MyName">Họ tên<span class="text-danger">*</span></label>
                        </div>
                        <div class="form-floating mb-3 col-md-12">
                            <input type="text" name="phone" class="form-control" id="MyNumber" placeholder="0123456789">
                            <label for="MyNumber">Số điện thoại</label>
                        </div>
                        <div class="form-floating mb-3 col-md-12">
                            <input type="text" name="address" class="form-control" id="MyAddress"
                                placeholder="227 Nguyễn Văn Cừ">
                            <label for="MyAddress">Địa chỉ</label>
                        </div>
                        <div class="form-floating mb-3 col-md-12">
                            <input type="text" name="username" class="form-control" id="MyAccount"
                                placeholder="thinh123">
                            <label for="MyAccount">Tài khoản<span class="text-danger">*</span></label>
                        </div>
                        <div class="form-floating col-md-12">
                            <input type="password" name="password" class="form-control" id="MyPassword"
                                placeholder="123">
                            <label for="MyPassword">Mật khẩu<span class="text-danger">*</span></label>
                        </div>

                        {{#if error}}
                        <div id="errornotif" style="color:red; text-align:center;  display:none;" class="error">
                            {{error}}
                        </div>
                        {{/if}}

                        <div class="col-md-12 mt-3 mb-4">
                            <button type="button submit" class="btn btn-primary float-end" id="submitLoginInfo"
                                 data-bs-toggle="modal" data-bs-target="#SignUpModal">Đăng ký</button>
                        </div>
                        
                        {{!-- modal --}}
                        <div class="modal fade" id="SignUpModal" aria-labelledby="SignUpModalLabel" aria-hidden="true"
                            tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Thông báo</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Bạn đã đăng ký thành công. Vui lòng đăng nhập <a href="/account/login"
                                                data-bs-toggle="tooltip" title="Đăng nhập">TẠI ĐÂY</a></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-outline-primary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <p class="text-center mt-3 text-secondary">Bạn đã tạo tài khoản? <a href="/account/login"
                            class="text-decoration-none">Đăng nhập
                            tại đây!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Core theme JS-->
    <script src="../../public/js/scripts.js"></script>
</body>