<body>
    <!-- Header-->
    <header class="p-3 mb-2 bg-info bg-gradient py-5" style="--bs-bg-opacity: .5;">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-black">
                <h1 class="display-4 fw-bolder">CHÀO MỪNG ĐẾN VỚI 307 STORE</h1>
                <p class="lead fw-normal text-black-50 mb-0">Nơi mua sắm quần áo tốt nhất Việt Nam</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="group-clothes mt-4">
            <div class="row">
                {{#each productLandingPage}}
                <div class="col-md-3 col-sm-6 col-12 mb-5">
                    <div class="card" style="width: 280px;">
                        <img src="{{product_image}}" width="280" height="350" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{product_name}}</h5>
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <p class="card-text">{{product_price}}</p>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-outline-info" type="button">Xem chi tiết</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</body>