<body>
  <div
    class="container px-4 px-lg-5 my-5 p-3 mb-2 bg-info bg-gradient py-5 aligns-item-center"
  >
    <div class="text-center text-black">
      <h1 class="display-4 fw-bolder">Đặt hàng thành công!!</h1>
      <p class="lead fw-normal text-black-50 mb-0">Cám ơn quý khách đã đã hàng ở
        307shop</p>
      <a href="/" class="btn btn-outline-dark">Quay lại trang chủ</a>
    </div>
  </div>
</body>