<body>
    <!-- Header-->
    <header class="p-3 mb-2 bg-info bg-gradient py-5" style="--bs-bg-opacity: .5;">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-black">
                <h1 class="display-4 fw-bolder">CHÀO MỪNG ĐẾN VỚI 307 STORE</h1>
                <p class="lead fw-normal text-black-50 mb-0">Nơi mua sắm quần áo tốt nhất Việt Nam</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            {{#each product_list}}
                <div class="row">
                    <h2>{{product_name}}</h2>
                    <div class="col">
                        <img src="{{product_image}}" w  ">
                    </div>
                    <div class="col">
                        <h4>Giá sản phẩm:</h4>
                        <span>{{product_price}}</span>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-dark flex-shrink-0" id="liveToastBtn">
                            <i><class="bi-cart-fill me-1"></i>Thêm vào giỏ hàng</button>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</body>