<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="profile-form mb-5">
          <form method="post" class="mt-5 p-5 bg-light shadow">

            <h3 class="mb-4 text-secondary">Trang cá nhân</h3>

            <div class="mb-3 col-md-12 d-flex justify-content-center">
              <img src="/asset/img/avatar.png" class="rounded-3 avatar" style="width: 150px;" alt="Avatar"/>
            </div>
            <div class="mb-3 d-flex justify-content-center">
              <a class="btn btn-info" href="#" role="button" id="changeAvatar">Thay đổi ảnh đại diện</a>
            </div>

            <div class="mb-3 col-md-12 form-floating">
              <input type="email" name="" class="form-control" id="MyEmail" value="{{user.email}}" placeholder="abcd"
                disabled readonly>
              <span id="MyEmail"></span>
              <label for="MyEmail">Email</label>
            </div>

            <div class="mb-3 col-md-12 form-floating">
              <input type="text" name="full-name" class="form-control" id="MyName" value="{{userinfo.full_name}}"
                placeholder="thinh">
              <span id="MyName"></span>
              <label for="MyName">Họ và Tên<span class="text-secondary"></span></label>
            </div>

            <div class="mb-3 col-md-12 form-floating">
              <input type="text" name="phone" class="form-control" id="MyNumber" value="{{userinfo.phone_number}}"
                placeholder="01234">
              <span id="MyNumber"></span>
              <label for="MyNumber">Số điện thoại<span class="text-secondary"></span></label>
            </div>

            <div class="mb-3 col-md-12 form-floating">
              <input type="text" name="address" class="form-control" id="MyAddress" value="{{userinfo.address}}"
                placeholder="123 ABC">
              <span id="MyAddress"></span>
              <label for="MyAddress">Địa Chỉ<span class="text-secondary"></span></label>
            </div>

            <div class="mb-4 col-md-12">
              <a class="btn btn-danger me-3" href="#" role="button" id="changePassword">Thay đổi mật khẩu</a>
              <button type="submit" class="btn btn-dark float-end" id="commitInfo">Cập nhật</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>