<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="signup-form">
                    <form method="post" class="mt-5 p-5 bg-light shadow">

                        <h3 class="mb-4 text-secondary">Tạo một tài khoản mới</h3>

                        <div class="form-floating mb-3 col-md-12">
                            <input type="text" name="full-name" class="form-control" id="MyName" placeholder="Thịnh">
                            <label for="MyName">Họ tên<span class="text-danger">*</span></label>
                        </div>
                        <div class="form-floating mb-3 col-md-12">
                            <input type="text" name="phone" class="form-control" id="MyNumber" placeholder="0123456789">
                            <label for="MyNumber">Số điện thoại</label>
                        </div>
                        <div class="form-floating mb-3 col-md-12">
                            <input type="text" name="address" class="form-control" id="MyAddress"
                                placeholder="227 Nguyễn Văn Cừ">
                            <label for="MyAddress">Địa chỉ</label>
                        </div>
                        <div class="form-floating mb-3 col-md-12">
                            <input type="email" name="email" class="form-control" id="MyEmail"
                                placeholder="thinh123@gmail.com">
                            <label for="MyEmail">Email<span class="text-danger">*</span></label>
                        </div>
                        <div class="form-floating col-md-12">
                            <input type="password" name="password" class="form-control" id="MyPassword"
                                placeholder="123">
                            <label for="MyPassword">Mật khẩu<span class="text-danger">*</span></label>
                        </div>

                        <div class="error" id="error-email-existed" style="display: none">Email existed!</div>
                        <div class="success" id="success-email-available" style="display: none">Email available!</div>

                        {{#if error}}
                        <div id="errornotif" style="color:red; text-align:center;  display:none;" class="error">
                            {{error}}
                        </div>
                        {{/if}}

                        <div class="col-md-12 mt-3 mb-4">
                            <button type="submit" class="btn btn-success float-end" id="submitRegisterInfo">Đăng ký</button>
                        </div>

                        {{!-- toast --}}
                        <div class="toast-container position-fixed bottom-0 end-0 p-3">
                            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-header">
                                    <img src="/asset/img/green-check.png" class="rounded me-2" alt="..." />
                                    <strong class="me-auto">Thông báo</strong>
                                    <small>Vừa xong</small>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast"
                                        aria-label="Close"></button>
                                </div>
                                <div class="toast-body">
                                    Bạn đã đăng ký thành công.
                                </div>
                                <script>
                                    const toastTrigger = document.getElementById("submitRegisterInfo");
                                    const toastLiveExample = document.getElementById("liveToast");
                                    if (toastTrigger) {
                                        toastTrigger.addEventListener("click",
                                            function () {
                                                const toast = new
                                                    bootstrap.Toast(toastLiveExample); toast.show();
                                            });
                                    }
                                </script>
                            </div>
                        </div>
                    </form>
                    {{#extend "scripts"}}
                    <script>
                        $('#email').change(function () {
                            $.getJSON("/verify-email/" + $(this).val(), function (data) {
                                if (data) {
                                    $('#error-email-existed').hide();
                                    $('#success-email-available').show();
                                    $('#submitLoginInfo').attr('disabled', false);
                                } else {
                                    $('#error-email-existed').show();
                                    $('#success-email-available').hide();
                                    $('#submitLoginInfo').attr('disabled', true);
                                }
                            })
                        })
                    </script>
                    {{/extend}}

                    <p class="text-center mt-3 text-secondary">Bạn đã tạo tài khoản? <a href="/account/login"
                            class="text-decoration-none">Đăng nhập
                            tại đây!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Core theme JS-->
    <script src="../../public/js/scripts.js"></script>
</body>