<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="profile-form mb-5">
          <form method="post" class="mt-5 p-5 bg-light shadow">

            <h3 class="mb-4 text-secondary">Thay đổi mật khẩu</h3>

            <div class="mb-3 col-md-12 form-floating">
              <input type="password" name="oldPassword" class="form-control" id="MyOldPassword" placeholder="thinh">
              <label for="MyOldPassword">Mật khẩu cũ<span class="text-secondary"></span><span
                  class="text-danger">*</span></label>
            </div>

            <div class="mb-3 col-md-12 form-floating">
              <input type="password" name="newPassword" class="form-control" id="MyNewPassword" placeholder="01234">
              <label for="MyNewPassword">Mật khẩu mới<span class="text-secondary"></span><span
                  class="text-danger">*</span></label>
            </div>

            <div class="mb-3 col-md-12 form-floating">
              <input type="password" name="confirmNewPassword" class="form-control" id="MyConfirmNewPassword"
                placeholder="123">
              <label for="MyConfirmNewPassword">Xác nhận lại mật khẩu<span class="text-secondary"></span><span
                  class="text-danger">*</span></label>
            </div>

            {{#if error}}
            {{#ifEquals error "404"}}
            <div class="error alert alert-danger mt-3" role="alert">
              Sai mật khẩu
            </div>
            {{/ifEquals}}
            {{#ifEquals error "403"}}
            <div class="error alert alert-danger mt-3" role="alert">
              Chưa nhập mật khẩu đầy đủ
            </div>
            {{/ifEquals}}
            {{#ifEquals error "405"}}
            <div class="error alert alert-danger mt-3" role="alert">
              Mật khẩu mới không trùng khớp
            </div>
            {{/ifEquals}}
            {{/if}}

            <div class="mb-4 col-md-12">
              <button type="submit" class="btn btn-dark float-end" id="commitPassword">Cập nhật</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>